<blockquote>
  <h4 class="mp-0">
    {% if include.tags contains "id-id" %}
      Kamu juga bisa like/upvote, kasih komen, dan diskusi tentang post ini di
    {% else %}
      You can also like/upvote, comment and discuss this article on
    {% endif %}
  </h4>
  <div class="d-flex flex-wrap">
    {% for impostor in include.as_seen_on %}
      {% if include.add_microformat_syndication == "1" %}
        <a rel="syndication" href="{{ impostor.url }}" class="card mw-full m-0 p-0 d-flex w-full w-lg-half u-syndication">
      {% else %}
        <a href="{{ impostor.url }}" class="card mw-full m-0 p-0 d-flex w-full w-lg-half">
      {% endif %}
        {% if site.data.external_sites[impostor.site_type].img_152 %}
          <div class="w-50 h-50 m-10 align-self-center">
            <img src="{{ site.data.external_sites[impostor.site_type].img_152 }}" class="d-block rounded" alt="{{ site.data.external_sites[impostor.site_type].title }} logo">
          </div>
        {% endif %}
        <div class="flex-grow-1 d-flex align-items-center">
          <div class="p-10 w-full m-auto">
            <p class="m-0 font-weight-medium text-dark-lm text-light-dm">
              {{ site.data.external_sites[impostor.site_type].title }} <i class="fa fa-angle-right ml-5" aria-hidden="true"></i>
            </p>
          </div>
        </div>
      </a>
    {% endfor %}
  </div>
  {% if include.tags contains "id-id" %}
    Atau dengan <a href="#comments">berkomentar di sini</a> atau melalui Webmentions.
  {% else %}
    Or by <a href="#comments">commenting on this article</a> or using Webmentions.
  {% endif %}
</blockquote>